body {
  background: $background;
  font-family: 'Arial W01 Regular', sans-serif;
}

footer {
  background: $black;
  height: 100px;
  width: 930px;
  margin: 0 auto; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;


   .social {
    justify-content: flex-end;
  }

   .footer_text {
    font-size: 16px;
    justify-content: flex-end;
  }
  
  .contant_name {
    text-align: right;
    
  }

  .contact_city {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
}

.orangeText {
 color: $orange;
}

.blackText {
 color: $black;
}

.whiteText {
 color: $white;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
  background: $white;
  display: flex;
  flex-direction: column;

  .innerwrapper {
    padding: 30px 30px 50px 30px;
    width: 600px;  
    display: flex;
    flex-direction: row;

    .leftwrapper {
         
    }

    .sidebarwrapper {
      display: flex;
      flex-direction: column;
      padding: 47px 20px 0 20px;
    }
  }
 
  .logga{
    padding-left: 13px;
  }

  .slogan_box {
    background: #f1f1f1;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 7px 25px 7px 25px;
    justify-content: space-between;
    
    .slogan {
      
      
    }

    .menu {

      .menu_gap {
        padding: 0 6px 0 4px;
        border-left: 1px solid $black;
      }

     .red_text {
       color: $orange;
       font-weight: bold;
     } 
    }
  }
}

.jumbotron {
  position: relative;
  border: 14px solid $black;

  #slideshowImages {
    img {
      height: 250px;
      width: 100%;
    }
  }

  .circle {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;

   
    .whitedot {
      background: $white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .whitedot:focus, .whitedot:active {
      background: $orange;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 3px solid $white;
    }


  }

  .jumbotron_text {
    position: absolute;
    bottom: 15px;
    right: 0px;
    color: $black;
    background: #e64925;
    width: 300px;
    padding: 10px 50px 10px 15px;
    
    .jumbotron_textLarge {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 20px;
      padding-bottom: 4px;
    }

    .jumbotron_textSmall {
      font-weight: bold;
      font-size: 18px;
    }
  }
} 

.education {
  color: $black;

  .education_title {
    font-family: 'Arial W01 Regular', sans-serif;
    font-size: 22px;
    font-weight:900;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
  }

   
  .education_box {
     color: $black;
     padding-right: 30px;

    
    .education_cousesInPlace {
      font-size: 18px;
      display: flex;
      

      .education_courseBox {
        flex-direction: row;
        width: 190px;

                      
        a {
          color: $black;
        }

         a:hover {
           color: $orange;
        }
        .link_gap {
          padding: 5px 0 5px 0;
        }
        
      }
    }
      .education_place {
        font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
        //font-family: 'Arial W01 Black', sans-serif;
        font-weight: bold;
        font-size: 1em;
        padding-top: 10px;
      }

      .education_course {
        text-decoration: none;
        font-size: 15px;
        padding: 10px 0 10px 0;
      }
   }
}

 .education_firstBox {
   display: none;
 }
    
.education_set {
  display: flex;
  flex-direction: row;
}

.education_text {
  display: flex;
  flex-direction: row;
  padding: 18px;
  background: $brown;
  width: 280px;
  height: 180px;
  margin:10px 30px 10px 0px;

  
  img {
    width: 160px;
    height: 180px;
  }

  .education_textInner {
    flex-direction: column;
    padding: 0 0 0 1em; 
    overflow: hidden;
  }

  .education_link {
    color: #e64925;
  }

  .education_title {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.0;
  }

  .education_paragraph {
     font-size: 12px;
     line-height: 1.5;
     padding-top: 5px;
  }  
}  

.transparentBox{
  width: 200px;
  height: auto;
  padding: 0px 15px 15px 0;
 
  .blackBackground {
    background: $black;
    padding: 5px;

    a {
      text-decoration: none;
      color: $orange;
      font-weight: bold;
    }

    a:hover {
      color: $white;
    }
  }

  .orangeText {
    color: $orange;
  }

  .whiteText {
    color: $white;
  }

  .greyBackground{
    background: #f2f2f2;
    padding: 5px;
  }

  .news_text {
    font-size: 13px;
    
  }
}

.uppercase {
  text-transform: uppercase;
}

.linkNoLine {
  text-decoration: none;
}

.sidebarwrapper {
  display: flex;
  flex-direction: row;

  .apply {
    background: $black;
    color: $white;
    height: auto;
    font-weight: bold;
    padding: 5px;

    .apply_first {
      padding: 4px 0 6px 0;
    }

    .apply_second {
      padding: 10px 0 4px 0;
    }
  }

  .input_email {
    width: 150px;
    font-size: 12px;
    height: 15px;
  }

  .input_submit {
    font-size: 12px;
    height: 20px;
  }
}


.dottedLine {
  border-right: 1px dotted grey;  
  margin-right: 15px;
}  