body {
  background: $background;
}

footer {
  background: $black;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;

  .contant_name {
    text-align: right;
  }

  .contact_city {
    text-align: right;
  }

   .footer_text {
    font-size: 12px;
    justify-content: flex-end;
  }
}

.orangeText {
 color: $orange;
}

.blackText {
 color: $black;
}

.whiteText {
 color: $white;
}


.wrapper {
  width: 768px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;

  .innerwrapper {
    padding: 20px;
  }

  .sidebarwrapper {
    display: flex;
    flex-direction: row;
  }

  .slogan_box {
    background: #f1f1f1;

    .slogan {
      
    }

    .menu {
      display: none;
    }
  }
}

.jumbotron {
  position: relative;
  border: 10px solid $black;
  img {
    height: 250px;
    width: 100%;
  }

  #slideshowImages {
    img {
      height: 250px;
      width: 100%;
    }
  }

  .circle {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;

   
    .whitedot {
      background: $white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .whitedot:focus, .whitedot:active {
      background: $orange;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 3px solid $white;
    }
  }  

  .jumbotron_text {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: $black;
    background: #e64925;
    width: 300px;
    padding: 10px 50px 10px 15px;
    
    .jumbotron_textLarge {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 20px;
    }

    .jumbotron_textSmall {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.education {
  
  .education_title {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
  }

  .education_box {
   
   .education_cousesInPlace {
      font-size: 22px;
      display: flex;
      width: 698px;

      .education_courseBox {
        flex-direction: row;
        width: 300px;
        padding-right: 15px;

        a {
          color: $black;
        }
       
        a:hover {
           color: $orange;
        }

        .link_gap {
          padding: 5px 0 5px 0;
        }

      }
    }
     
      .education_place {
        font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
        font-weight: bold;
        font-size: 1em;
        padding-top: 20px;
      }

      .education_course {
        text-decoration: none;
        font-size: 14px;
      }
    }
  }

 .education_firstBox {
   display: none;
 }

 .education_set {
  display: flex;
  flex-direction: row;
}
 
.education_text {
  display: flex;
  flex-direction: row;
  padding: 17px;
  background: $brown;
  width: 360px;
  height: 160px;
  margin:10px 30px 10px 0px;
   

  img {
   width: 130px;
   height: 160px;
  }

  .education_textInner {
    flex-direction: column;
    padding: 0 0 0 1em; 
    overflow: hidden;
  }

  .education_link {
    color: #e64925;
  }

  .education_title {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 0.9;
  }

  .education_paragraph {
    font-size: 11px;
    line-height: 1.5;
    padding-top: 5px;
  }
}  

.transparentBox{
  width: 230px;
  height: 130px;
  margin: 60px 15px 30px 0;
 
  .blackBackground {
    background: $black;
    padding: 5px;
    font-weight: bold;

     a {
      text-decoration: none;
      color: $orange;
    }
    a:hover {
      color: $white;
    }
  }

  .orangeText {
    color: $orange;
  }

  .whiteText {
    color: $white;
  }

  .greyBackground{
    background: #f2f2f2;
  }
}

.uppercase {
  text-transform: uppercase;
}

.linkNoLine {
   text-decoration: none;
}



.sidebar {
  display: flex;
  flex-direction: row;

   .apply {
    display: none;
    .apply_first {
       display: none;
    }

    .apply_second {
       display: none;
    }
  }

  .input_email {
    width: 150px;
    font-size: 12px;
    height: 15px;
  }

  .input_submit {
    font-size: 12px;
    height: 20px;
  }
}

 .dottedLine {
  border-right: 1px dotted grey; 
   margin-right: 15px;
}